body {
  background-color: gray;
}

.main-field {
  border: 0.2em solid black;
  height: 32em;
  width: 32em;
  margin-left: 20em;
  margin-right: 20em;
  position: absolute;
}

.tile {
  border-style: solid;
  border-width: thin;
  display: grid;
  place-items: center;
}

#info {
  position: absolute;
}

#game-over {
  display: none;
  position: absolute;
  top: 20em;
  font-size: 1.5em;
}

#game-over p {
  font-size: 0.7em;
}

#victory {
  display: none;
  position: absolute;
  top: 20em;
  font-size: 1.5em;
}

#victory p {
  font-size: 0.7em;
}

#timer {
  position: absolute;
  left: 50em;
  top: 5em;
  font-size: 1.2em;
}